<!--title variable puesta en app.components.ts-->
<div class="container">
    <div class="row">
        <div class="col">
            <!--componente cabecera-->
            
            <app-cabecera></app-cabecera>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col">
           <button class="btn btn-primary" (click)="onIniciarObservable()">Iniciar observable</button>
           <button class="btn btn-primary" (click)="onSuscribirseAlObservable()">Iniciar suscriptor</button>
    
        </div>
    </div>
</div>




